<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3" ng-repeat="servicio in serviciosRecords">
            <div class="text-center h3" style="color:#3f6b7a ;font-family: 'Calibri'">{{servicio.name}}</div>
            <div class="thumbnail">          
                <img class="img-responsive" ng-src='{{servicio.imagen}}' alt="{{servicio.name}}" style="width:100%"> <br>  
                <div class="text-justify"> {{servicio.tipo}}</div> <br> 
                <button  ng-if="isCliente()" ui-sref="serviciosSolicit({servicioTipo: servicio.tipo, servicioDesc: servicio.descripcion})"  type="button" class="btn btn-primary btn-block">Solicitar Servicio</button>
            </div>
        </div>
    </div>
</div>
