<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">

    <div >
        <h1  class="row"  > ESTA PESTAÑA ES PARA EL ADMINISTRADOR </h1>
    {{n}}
        <h2>TODOS LOS CALENDARIOS EXISTENTES SON LOS SIGUIENTES </h2>
       
        <div ng-repeat="calendario in calendariosRecords" >
       ultimaModificacion: {{calendario.ultimaModificacion}} 
       
           
       
       
       <hr>
       
        
        
        </div>
        
        
        
        
           <h3>TODOS LOS CALENDARIOS CREADOS SON LOS SIGUIENTES </h3>
        <h3> LOS CALENDARIOS DE LOS MEDICOS SON LOS SIGUIENTES    </h3>
    
        
         {{miamigo}}
</div>
    
    
  
    
    
    
 
 
    
    
</div>

