<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createQueja">Crear Queja</label>
                <label ng-if="edit" id="editQueja">Editar Queja</label></div>
            <div class="panel-body">
                <form name="queja">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="quejaReclamo" class="col-sm-2">Reclamo:</label>
                            <input id="quejaReclamo" required ng-model="data.reclamo" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="quejaResuelto" class="col-sm-2">Resuelto:</label>
                            <input id="quejaResuelto" required ng-model="data.resuelto" class="col-sm-6"/>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!queja.$valid">
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="queja.$valid" ng-click="createQueja()" value="Guardar" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="historialServiciosList">Cancelar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>