<div class="container-fluid">

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createHistorialServicio">Crear nuevo Servicio</label>
                <label ng-if="edit" id="editHistorialServicio">Editar Servicio</label></div>
            <div class="panel-body">
                <form name="historialServicio">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="historialServicioTipo" class="col-sm-2">Tipo:</label>
                            <input id="historialServicioTipo" required ng-model="data.tipo" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="historialServicioFecha" class="col-sm-2">Fecha:</label>
                            <input type="date" id="historialServicioFecha" required ng-model="data.fecha" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="historialServicioHora" class="col-sm-2">Hora:</label>
                            <input id="historialServicioHora" required ng-model="data.hora" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="historialServicioDescripcion" class="col-sm-2">Descripción:</label>
                            <input id="historialServicioDescripcion" required ng-model="data.descripcion" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="historialServicioFinalizado" class="col-sm-2">Finalizado:</label>
                            <input id="historialServicioFinalizado" required ng-model="data.finalizado" class="col-sm-6"/>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!historialServicio.$valid">
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="historialServicio.$valid" ng-click="createServicio()" value="Guardar" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="historialServiciosList">Cancelar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
