<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createFactura">Crear Factura</label>
                <label ng-if="edit" id="editFactura">Editar Factura</label></div>
            <div class="panel-body">
                <form name="factura">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="facturaCostoTotal" class="col-sm-2">Costo Total:</label>
                            <input id="facturaCostoTotal" required ng-model="data.costoTotal" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="facturaFechaExpedicion" class="col-sm-2">Fecha de Expedición:</label>
                            <input type="date" id="facturaFechaExpedicion" required ng-model="data.fechaExpedicion" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="facturaDescipcion" class="col-sm-2">Descripción:</label>
                            <input id="facturaDescripcion" required ng-model="data.descripcion" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="facturaNombreCliente" class="col-sm-2">Nombre del Cliente:</label>
                            <input id="facturaNombreCliente" required ng-model="data.nombreCliente" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="facturaCedulaCliente" class="col-sm-2">Cédula del Cliente:</label>
                            <input id="facturaCedulaCliente" required ng-model="data.ccCliente" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="facturaServicioPrestado" class="col-sm-2">Servicio Prestado:</label>
                            <input id="facturaServicioPrestado" required ng-model="data.servicioPrestado" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="facturaNombreEmpresa" class="col-sm-2">Nombre de la empresa:</label>
                            <input id="facturaNombreEmpresa" required ng-model="data.nombreEmpresa" class="col-sm-6"/>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!factura.$valid">
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12"> 
                            <input ng-show="factura.$valid" ng-click="createFactura()" value="Guardar" class="btn btn-success" s-ref="historialServiciosClienteDetail ({id:idDetail})"/>
                            <a class="btn btn-info" ui-sref="historialServiciosClienteList">Cancelar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
