
<div class="col-lg-6" >
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
    <div id="alertPanel" style="text-align: center"></div>
    <div class="container-fluid">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tipo</th>    
                        <th>Fecha</th> 
                        <th>Hora</th>
                        <th>Descripcion</th>
                        <th>Finalizado</th>  
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="historialServicio in historialServiciosRecordsCliente" ui-sref="historialServiciosClienteDetail({id:historialServicio.id})">
                        <td>{{historialServicio.id}}</td>
                        <td>{{historialServicio.tipo}}</td>  
                        <td>{{historialServicio.fecha|date}}</td>
                        <td>{{historialServicio.hora}}</td>
                        <td>{{historialServicio.descripcion}}</td>
                        <td>{{historialServicio.finalizado}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <h1> Servicio {{historialActualCliente.id}} </h1> <br>
    <div class="row">
        
        <h2> Cancelar servicio </h2>
          <div class="panel panel-default">
                   <div class="panel-body">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a class="btn btn-info" ui-sref="cancelarServicioCliente({id:historialActualCliente.id})"><span class="glyphicon glyphicon-plus-sign"></span> Cancelar Servicio</a>
                        </div>
                       
                       
                   </div>
               </div>
       
        <h2>Cliente: </h2>
            <div class="panel panel-default">
                   <div class="panel-body">
                        <h3>{{historialActualCliente.cliente.id}}</h3>
                        <br>
                        Nombre:
                        <p>{{historialActualCliente.cliente.nombre}}</p>
                        <br>
                        Login:
                        <p>{{historialActualCliente.cliente.login}}</p>
                        <br>
                        Estado:
                        <p>{{historialActualCliente.cliente.estado}}</p>
                        <br>
                        Tipo:
                        <p>{{historialActualCliente.cliente.tipo}}</p>
                   </div>
               </div>  
        
        <h2>Enfermero: </h2>
            <div class="panel panel-default">
                   <div class="panel-body">
                        <h3>{{historialActualCliente.enfermero.id}}</h3>
                        <br>
                        Nombre:
                        <p>{{historialActualCliente.enfermero.nombre}}</p>
                        <br>
                        Login:
                        <p>{{historialActualCliente.enfermero.login}}</p>
                   </div>
               </div> 
        <h2>Pago Inicial: </h2>
            <div class="panel panel-default">
                   <div class="panel-body">
                        <h3>{{historialActualCliente.pagoInicial.id}}</h3>
                        <br>
                        Medio:
                        <p>{{historialActualCliente.pagoInicial.medio}}</p>
                        <br>
                        Pagado:
                        <p>{{historialActualCliente.pagoInicial.pagado}}</p>
                        <br>
                        Fecha Limite:
                        <p>{{historialActualCliente.pagoInicial.fechaLimite}}</p>
                        <br>
                        Valor:
                        <p>{{historialActualCliente.pagoInicial.valor}}</p>
                        
                   </div>
               </div> 
        <h2>Pago Final: </h2>
            <div class="panel panel-default">
                   <div class="panel-body">
                        <h3>{{historialActualCliente.pagoFinal.id}}</h3>
                        <br>
                        Medio:
                        <p>{{historialActualCliente.pagoFinal.medio}}</p>
                        <br>
                        Pagado:
                        <p>{{historialActualCliente.pagoFinal.pagado}}</p>
                        <br>
                        Fecha Limite:
                        <p>{{historialActualCliente.pagoFinal.fechaLimite}}</p>
                        <br>
                        Valor:
                        <p>{{historialActualCliente.pagoFinal.valor}}</p>
                        
                   </div>
               </div> 
        <h2>Factura: </h2>
            <div class="panel panel-default">
                   <div class="panel-body">
                       <div ng-repeat="f in historialActualCliente.facturas">
                        <h3>{{f.id}}</h3>
                        <br>
                        Costo Total:
                        <p>{{f.costoTotal}}</p>
                        <br>
                        Fecha de Expedición:
                        <p>{{f.fechaExpedicion}}</p>
                        <br>
                        Descripción:
                        <p>{{f.descripcion}}</p>
                        <br>
                        Nombre del Cliente:
                        <p>{{f.nombreCliente}}</p>
                        <br>
                        Cédula del Cliente:
                        <p>{{f.ccCliente}}</p>
                        <br>
                        Servicio Prestado:
                        <p>{{f.servicioPrestado}}</p>
                        <br>
                        Nombre de la Empresa:
                        <p>{{f.nombreEmpresa}}</p>
                        <br>
                       </div>
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a class="btn btn-info" ui-sref="ClientefacturaCreate({id:historialActualCliente.id})"><span class="glyphicon glyphicon-plus-sign"></span> Agregar Factura</a>
                        </div>
                   </div>  
               </div> 
                <h2>Quejas: </h2>
            <div class="panel panel-default" >
                   <div class="panel-body">
                       <div ng-repeat="q in historialActualCliente.quejas">
                            <h3>{{q.id}}</h3>
                            <br>
                            Reclamo:
                            <p>{{q.reclamo}}</p>
                            <br>
                            Resuelto:
                            <p>{{q.resuelto}}</p>
                            <br>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a class="btn btn-info" ui-sref="ClientequejaCreate({id:historialActualCliente.id})"><span class="glyphicon glyphicon-plus-sign"></span> Agregar Queja</a>
                        </div>
                   </div>
               </div>
                
                
    </div>
</div>

