<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>   
                    <th>Id</th>  
                    <th>Fecha</th>
                    <th>Hora</th> 
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cita in citasRecords">
                    <td><a ui-sref="citasDetail({citaId: cita.id})" class="thumb">{{cita.id}}</a></td>
                    <td>{{cita.fecha | date:"yyyy-MM-dd"}}</td>   
                    <td>{{cita.hora|date : "HH:mm:ss"}}</td>   
                </tr>
            </tbody>
        </table>
         <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class="btn btn-info" ui-sref="citasCreate"><span class="glyphicon glyphicon-plus-sign"></span> Agregar Cita</a>
        </div>
    </div>
</div>
