.vinculo{
    color:white;
    text-align: center;
}
.login{
    
}
.lgin{
    padding-top: 5px;
    padding-left: 10px;
}
.homelink:focus{
    opacity:0.6;
}
.header{
    position: relative !important;
    z-index: 5 !important;
}
.logo{ 
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 40px;
    width:13%;
    float:left;
}
.imagen{
    padding: 10px 0px;
    width:100%
}
.webpage{
    background-color: lightgray;
    padding-top: 4px;
}
.mainview{
    background-color: #e7e7e7
}
.navegacion{
    background-color: #6d97a5;
    border-style: groove
}
.columntitle{
    font-size:350%; 
    text-align: center
}
.slogan{
    font-size: 11px;
    text-align: center;
}
.alt-background {
    background: #f7cc4b;
}
.skew-bottom-cw, .skew-bottom-ccw {
    padding-bottom: 160px;
}
.skew-top-cw, .skew-top-ccw {
    padding-top: 160px;
}
.skew-top-ccw:before {
    content: '';
    position: absolute;
    background:  bottom;
    height: 100px;
    top: 0;
    width: 100%;
    display: block;
}
.skew-top-ccw:before {
    content: '';
    position: absolute;
    background: bottom;
    background-size: 100% 100%;
    height: 120px;
    top: 0;
    width: 100%;
    display: block;
}

.colservfunc{
    
}

.skew-bottom-ccw:after {
    content: '';
    position: absolute;
    background:  bottom;
    height: 100px;
    bottom: 0;
    width: 100%;
    display: block;
}
.skew-bottom-ccw:after {
    content: '';
    position: absolute;
    background: url(../images/skew-full-bottom-ccw.png) bottom;
    background-size: 100% 100%;
    height: 120px;
    bottom: 0;
    width: 100%;
    display: block;
}	
.imginfo{
    width:70%;
    padding-left: 30%;
    padding-right: 0%;
}
.desc{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.functions{
    background-color: #e0e0e0
}
.descripinic{
    background: antiquewhite;
}
.blankfill{
    height:500px;
    
}
.evdev{
    background-color: #e0e0e0
}
.odddev{
    background-color: aliceblue;
}
.nombreI{
    text-align: center;
}
.center{
    position: absolute;
    top: 29px;
    left: 57%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    text-align: center;
    font-family: "Calibri";
    color:#122b40;
    text-decoration: blink
}
.texto{
    
    font-family: "Calibri";
}
.nameUser{
     font-family: "Calibri";
     font-size: 150%;
     font-weight: bold;
}
.logout{
    font-weight: bold;
    font-size: 150%;
    color: white;
}