
<div class="col-lg-6" >
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
    <div id="alertPanel" style="text-align: center"></div>
    <div class="container-fluid">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tipo</th>    
                        <th>Fecha</th> 
                        <th>Hora</th>
                        <th>Descripcion</th>
                        <th>Finalizado</th>  
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="historialServicio in historialServiciosRecordsEnfermero" ui-sref="historialServiciosEnfermeroDetail({id:historialServicio.id})">
                        <td>{{historialServicio.id}}</td>
                        <td>{{historialServicio.tipo}}</td>  
                        <td>{{historialServicio.fecha|date}}</td>
                        <td>{{historialServicio.hora}}</td>
                        <td>{{historialServicio.descripcion}}</td>
                        <td>{{historialServicio.finalizado}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <h1> Servicio {{historialActualEnfermero.id}} </h1> <br>
    <div class="row">
        
        <h2> Cancelar servicio </h2>
          <div class="panel panel-default">
                   <div class="panel-body">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a class="btn btn-info" ui-sref="cancelarServicioEnfermero({id:historialActualEnfermero.id})"><span class="glyphicon glyphicon-plus-sign"></span> Cancelar Servicio</a>
                        </div>
                       
                       
                   </div>
               </div>
       
        <h2>Cliente: </h2>
            <div class="panel panel-default">
                   <div class="panel-body">
                        <h3>{{historialActualEnfermero.cliente.id}}</h3>
                        <br>
                        Nombre:
                        <p>{{historialActualEnfermero.cliente.nombre}}</p>
                        <br>
                        Login:
                        <p>{{historialActualEnfermero.cliente.login}}</p>
                        <br>
                        Estado:
                        <p>{{historialActualEnfermero.cliente.estado}}</p>
                        <br>
                        Tipo:
                        <p>{{historialActualEnfermero.cliente.tipo}}</p>
                   </div>
               </div>  
        
        <h2>Enfermero: </h2>
            <div class="panel panel-default">
                   <div class="panel-body">
                        <h3>{{historialActualEnfermero.enfermero.id}}</h3>
                        <br>
                        Nombre:
                        <p>{{historialActualEnfermero.enfermero.nombre}}</p>
                        <br>
                        Login:
                        <p>{{historialActualEnfermero.enfermero.login}}</p>
                   </div>
               </div> 
                <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a class="btn btn-info" ui-sref="EnfermerocalificacionCreate({id:historialActualEnfermero.cliente.id})"><span class="glyphicon glyphicon-plus-sign"></span> Calificar</a>
                        </div>
    </div>
</div>

