<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">

    <div>
       
   
        
       
       ultimaModificacion: {{currentCalendarioEnfermero.ultimaModificacion}} 
        id:{{currentCalendarioEnfermero.id}}
   <table  class="table">
   <tr>
    <th> DIA 1</th>
    <th>DIA 2</th>
    <th>DIA 3</th>
    <th>DIA 4</th>
    <th>DIA 5</th>
 </tr>
  <tr ng-repeat="chunk in currentCalendarioEnfermero.franjasGanadoras" >   
               <td ng-repeat="franja in chunk"  >
                  {{franja.id}}
                 
                <span   ng-if="franja.ocupado" style="color:blue"> <p  class="bg-success"> {{franja.diaSemana}} </p> <p  class="bg-success"> {{franja.horaInicio}}</p> <p  class="bg-success">{{franja.horaFin}}  </p>
                   </a>   </span>
             <span ng-if="!franja.ocupado" style="color:blue">
                 <a ui-sref="" >
             <p  class="bg-primary"> {{franja.diaSemana}} </p> <p  class="bg-primary"> {{franja.horaInicio}}</p> <p  class="bg-primary">{{franja.horaFin}}  </p>
              </a>
                 </span>
                </td>
           </tr>
             </table>
       
       

       
       <hr>
        
</div>
    
    
  
    
    
    
 
 
    
    
</div>

