<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <a class="btn btn-info" ui-sref="pagosCreate"><span class="glyphicon glyphicon-plus-sign"></span> Agregar Pago</a>
    </div>
    <div class="col-lg-3">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <h3>Informacion Basica</h3>
        <table class="table table-striped">

            <thead>
                <tr>   
                    <th>Id</th>  
                    <th>Medio</th>
                    <th>Pagado</th>
                    <th>Fecha Limite</th>
                    <th>Valor</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pago in pagosRecords">
                    <td>{{pago.id}}</td>  
                    <td>{{pago.medio}}</td>
                    <td>{{pago.pagado}}</td>
                    <td>{{pago.fechaLimite}}</td>
                    <td>{{pago.valor}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
